@{
    Layout = "~/Areas/Switch/Views/Shared/Layout_switch.cshtml";

}
<section>
    <div class="data-card" data-api-base="@ViewBag.ApiBaseUrl">
        <div class="col-md-12">
            <div class="row g-2 align-items-start">
                <div class="col-md-3">
                    <textarea name="serialNumbers" id="sn-input" rows="3" placeholder="Nhập SerialNumber" class="form-control"></textarea>
                </div>
                <div class="col-md-3">
                    <div>
                        <input type="text" id="error-code-input" class="form-control" placeholder="Input Error Code">
                    </div>
                    <div>
                        <input type="text" id="fail-station-input" class="form-control mt-2" placeholder="Input Fail Station">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <input type="text" id="fa-input"  class="form-control" placeholder="FA">
                    </div>
                    <div>
                        <input type="text" id="status-input" class="form-control mt-2" placeholder="Status">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <input type="text" id="pe-owner-input" class="form-control" placeholder="PE Owner">
                    </div>
                    <div>
                        <input type="text" id="customer-input" class="form-control mt-2" placeholder="Customer">
                    </div>
                </div>
                <div class="col-md-1">
                    <button id="input-btn" class="btn btn-ne w-100" type="button">
                        <i class="fas fa-sync"></i> Input
                    </button>
                </div>
                <div class="col-md-1">
                    <button id="upload-file-btn" class="btn btn-ne w-100" type="button">
                        <i class="fas fa-sync"></i> Upload File
                    </button>
                </div>
            </div>
        </div>

        <input type="hidden" id="repairPerson" value="@User.Identity.Name" />
    </div>
</section>

@section Scripts {
    <script src="~/assets/Areas/DDR/input.js?v=@DateTime.Now.Ticks"></script>
}
