@{
    ViewData["Title"] = "DPU-MEM";
    Layout = "~/Areas/DDR/Views/Shared/Layout_DDR.cshtml";
}
<section class="dashboard section">

</section>
@section Scripts {
    <script src="~/assets/areas/dpu/home.js?v=@DateTime.Now.Ticks"></script>
}
