@{
    ViewData["Title"] = "Yield Rate";
    Layout = "~/Areas/SFC/Views/Shared/_Layout_SFC.cshtml";
}
<div class="date-time-range text-muted">
    <label for="startDate">Bắt đầu:</label>
    <input type="datetime-local" id="startDate" />
    <label for="endDate">Kết thúc:</label>
    <input type="datetime-local" id="endDate" />
    <button id="searchBtn" class="btn btn-ne">Tìm kiếm</button>
</div>

@section Scripts {
}